In [19]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns   

df = pd.read_csv('historical_data_1.csv')
print(df.head())

       Date    Open    High     Low   Close     Volume Currency
0  4-Mar-24  166.99  171.07  166.29  170.98  4,373,100      CAD
1  5-Mar-24  171.75  172.89  164.06  166.52  6,201,700      CAD
2  6-Mar-24  171.38  171.93  170.14  171.42  2,702,300      CAD
3  7-Mar-24  171.17  172.42  169.90  170.69  5,163,400      CAD
4  8-Mar-24  169.79  170.19  168.53  169.14  3,969,400      CAD

In [20]:
missing = df.isnull().sum()
missing = missing[missing > 0]
print(missing)
missing_percentage = missing / len(df) * 100
missing_info = pd.DataFrame({'Missing Values': missing, 'Percentage': missing_percentage})
missing_info

Date        1
High        2
Low         4
Volume      3
Currency    3
dtype: int64

          Missing Values  Percentage
Date                   1    0.383142
High                   2    0.766284
Low                    4    1.532567
Volume                 3    1.149425
Currency               3    1.149425